# Binaries
[Bb]in/
[Oo]bj/

# Build Results
[Dd]ebug/
[Rr]elease/
[Pp]ublish/

# IDE Files
.idea/
.vs/
.vscode/

# Package Cache
/packages/

# Rider
riderModule.iml

# Resharper
/_ReSharper.*
*.ReSharper.*

# MacOS
.DS_Store
